<div class="my-container container-fluid">
  <div class="row d-flex ms-2 mt-2">
    <!--BreadCrumb-->
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/home">Accueil</a></li>
        <li class="breadcrumb-item"><a routerLink="/category">Catégories</a></li>
        <li class="breadcrumb-item active" aria-current="page">Information de la catégorie</li>
      </ol>
    </nav>
  </div>

  <form class="row d-flex flex-column align-content-center" novalidate>

    <div class="col-md-6 mb-5 mt-5">
      <h1 class="text-center">Information de la Catégorie</h1>
    </div>

    <div class="col-md-6 mt-4">
      <!--Input Name-->
      <label for="inputCategoryName" class="form-label">Nom</label>
      <input type="text" [ngModel]="category.name" readonly name="Name" class="form-control" id="inputCategoryName"
        placeholder="">
    </div>

    <div class="col-md-6 mt-4">
      <!--Input Version-->
      <label for="inputCategoryVersion" class="form-label">Version</label>
      <input type="email" [ngModel]="category.version" readonly name="mail" class="form-control"
        id="inputCategoryVersion" placeholder="">
    </div>

    <div class="col-md-6 mt-4">
      <!--Input Description-->
      <label for="inputCategoryDescription" class="form-label text-center">Description</label>
      <input type="text" [ngModel]="category.description" readonly name="description" class="form-control"
        id="inputCategoryDescription" placeholder="">
    </div>



    <!--Button Group-->
    <div class="col-md-6 mt-4">
      <div class="foot-buttons text-center">
        <button type="button" class="btn btn-danger" routerLink="/category">Retour</button>
      </div>
    </div>
  </form>
</div>
