<!-- ======= Header ======= -->
<header id="header" class="header fixed-top d-flex align-items-center">
    <button (click)="onBurgerClick()" class="navbar-toggler" type="button">
        <span class="bi bi-list"></span>
    </button>
    <nav class="header-nav ms-auto d-flex align-items-center">
<!--        <img src="/assets/img/profile-img.jpg" alt="Profile" class="rounded-circle profile-img">-->
        <span class="d-none d-md-block ps-2" *ngIf="user">{{ user.firstName }} {{ user.lastName }}</span>
        <i class="bi-power ms-2" (click)="disconnect()"></i>
    </nav>
    <!-- TODO: Changer routerLink vers une page de déconnexion une fois crée-->
</header><!-- End Header -->
