<div class="my-container container-fluid">
  <div class="row d-flex ms-2 mt-2">

    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Accueil</li>
      </ol>
    </nav>

  </div>


<!--  <div class="card mt-3">-->
<!--    <img class="my" src="assets/img/8.png" >-->
<!--  </div>-->


  <div class="row welcome-zone">
    <div class="col d-flex align-items-center justify-content-between">

      <div class="welcome-text">
        <h1>Bonjour,</h1>
        <br>
        <p>Bienvenue dans votre espace d'administration</p>
      </div>
      <div class="col">
        <img class="img ml-3" src="assets/img/icon.png" alt="Icône de bienvenue" >
      </div>

    </div>




  </div>
  <div class="container selection-zone pt-5">
    <div class="row">
      <div class="col">
        <div class="card border border-1 border-secondary pe-auto" routerLink="/dashboard">
          <div class="card-body">
            <h4 class="card-title accueil">Dashboard</h4>
            <div class="d-flex align-items-center">
              <span class="bi bi-speedometer2 me-2"></span>
              <span>Offre une vue macro des projets en cours, terminés, ou planifiés.</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="card border border-1 border-secondary pe-auto" routerLink="/liste">
          <div class="card-body">
            <h4 class="card-title accueil">Projets</h4>
            <div class="d-flex align-items-center">
              <span class="bi bi-table me-2"></span>
              <span>Gérez tous les projets existant en un seul endroit.</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card border border-1 border-secondary pe-auto" routerLink="/category">
          <div class="card-body">
            <h4 class="card-title accueil">Catégories</h4>
            <div class="d-flex align-items-center">
              <span class="bi bi-grid me-2"></span>
              <span>Gérez toutes les catégories des projets existant.</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="card border border-1 border-secondary pe-auto" routerLink="/members">
          <div class="card-body">
            <h4 class="card-title accueil">Membres</h4>
            <div class="d-flex align-items-center">
              <span class="bi bi-person me-2"></span>
              <span>Gérez les membres.</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card border border-1 border-secondary pe-auto" routerLink="/stats">
          <div class="card-body">
            <h4 class="card-title accueil">Statistiques</h4>
            <div class="d-flex align-items-center">
              <span class="bi bi-bar-chart-fill me-2"></span>
              <span>Gérez tout les projets existant en un seul endroit.</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<!--</div>-->
