<html lang="fr">
<body>
<main>
    <section class="container-fluid ">
        <div class="row d-flex justify-content-center">
            <div class="col-md-4 col-lg-4 pt-5 pb-5 ps-5 pe-5 SectForgot">
                <h1>Mot de passe oublié ?</h1>
                <p id="con-description">Veuillez saisir votre identifiant afin de recevoir le lien de réinitialisation
                    du mot de
                    passe.</p>
                <form [formGroup]="aFormGroup" class="form-box" (ngSubmit)="onSubmit()">
                    <!--Input: Email -->
                    <div class="mb-3">
                        <!--          <label>E-mail de connexion</label>-->
                        <input type="text" formControlName="email" class="form-control" aria-describedby="emailHelpId"
                               placeholder="Saisir votre E-mail"/>
                        <p *ngIf="validate('email');let error" class="text-danger">{{error}}</p>
                    </div>
                    <div class="recaptcha pt-2">
                        <!--Le recaptcha -->
                        <ngx-recaptcha2 #capcthaElem [siteKey]="siteKey" formControlName="recaptcha"
                                        (success)="checkCaptcha($event)">
                        </ngx-recaptcha2>
                        <p *ngIf="validate('recaptcha');let error" class="text-danger">{{error}}</p>
                    </div>
                    <!--Le bouton soumettre -->
                    <div class="d-grid gap-2 pt-5 pb-1">
                        <button type="submit"
                                class="btn btn-primary"
                                (click)="onForgot($event)">Recevoir le lien
                        </button>
                    </div>
                    <!-- TO DO: Création d'une méthode pour le 'Remember Me' -->
                    <div class="passsword-remember-forgot pt-3">
                        <!--Lien vers le "/" -->
                        <div class="forgot-link">
                            <a routerLink="">Retour à la page de connexion</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
</main>
</body>
</html>