<html lang="fr">
<body>
<main>
    <section class="container-fluid">
        <div class="row d-flex justify-content-center">
            <div class="col-ml-4 col-lg-4 pt-5 pb-5 ps-5 pe-5 SectReset">
                <h1>Réinitialiser mon mot de passe.</h1>
                <p id="con-description">Pour réinitialiser votre mot de passe, veuillez compléter les informations ci
                    dessous.</p>
                <form [formGroup]="aFormGroup" class="form-box" (ngSubmit)="onSubmit()">
                    <!--Input: Mot de passe -->
                    <div class="mb-3">
                        <input type="password" formControlName="password" class="form-control"
                               aria-describedby="emailHelpId"
                               placeholder="Saisir votre nouveau mot de passe."/>
                        <p *ngIf="validate('password');let error" class="text-danger">{{error}}</p>
                    </div>
                    <!--Input:Resaisir le  mot de passe -->
                    <div class="mb-4">
                        <input name="" id="" placeholder="Resaisir votre nouveau mot de passe" type="password"
                               formControlName="confirmPassword" class="form-control"/>
                        <p *ngIf="validate('confirmPassword');let error" class="text-danger">{{error}}</p>
                    </div>
                    <!--Le recaptcha -->
                    <ngx-recaptcha2 #capcthaElem [siteKey]="siteKey" formControlName="recaptcha"
                                    (success)="checkCaptcha($event)">
                    </ngx-recaptcha2>
                    <p *ngIf="validate('recaptcha');let error" class="text-danger">{{error}}</p>
                    <!--Le bouton soumettre -->
                    <div class="d-grid gap-2 pt-5 pb-2">
                        <button type="submit" class="btn btn-primary" (click)="onReset($event)">Enregistrer</button>
                    </div>
                    <div class="passsword-remember-forgot pt-3">
                        <!--Lien vers le mot de passe oublié -->
                        <div class="forgot-link">
                            <a routerLink="">Retour à la page de connexion</a>
                        </div>
                    </div>
                    <div style="clear: both;"></div>
                </form>
            </div>
        </div>
    </section>
</main>
</body>
</html>