* {
  box-sizing: border-box;
}

main {
  margin: 1.5em;
}

.container-fluid {
  margin-top: 5%;
}

.SectReset {
  background-color: white;
  border-radius: 50px;
}

img {
  width: 15em;
  margin-bottom: 3em;
  margin-top: 2em;
}

h1 {
  text-align: center;
  margin-bottom: 3rem;
  font-weight: bolder;
}

#con-description {
  text-align: center;
  margin-bottom: 3em;
  font-weight: bold;

}

input {
  border-color: #ADCBFD;
}

.passsword-remember-forgot .form-check {
  float: left;
}

.passsword-remember-forgot {
  text-align: center;

}


